html, body {
    margin: 8px 0 0 0;
    padding: 0;
}

body {
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(109,109,109,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(109,109,109,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(109,109,109,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(109,109,109,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(109,109,109,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(109,109,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6d6d6d',GradientType=1 );
    background-attachment: fixed;
    text-align: center;
}

a, a:visited {
    color: navy;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 0 0 0.67em 0;
    text-shadow: 2px 2px 0 #aaaaaa;
}

#github_ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.vspacer {
    margin: 20px 0;
}

#demo {
    display: inline-block;
    zoom: 1;
    margin-top: 20px;
    text-align: left;
}

#content {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: left;
    background-color: rgba(255,255,255,0.4);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
}

.controls > * {
  margin: 0 4px;
}

.controls label {
  display: block;
}

.controls label,
.controls button {
  font-weight: bolder;
  text-align: center;
}

.nonogram {
    margin: 0 auto;
}

#play {
    background-color: #00cc00;
}

#width,
#height,
#nonogram_id {
  background-color: #ffffb5;
  text-align: right;
}

#nonogram_id {
    background-color: #ffffb5;
    text-align: right;
}

#disqus_thread {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
}
